# Ignore Play! working directory #
.ensime
.gradle
.ensime_cache
conf/private
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.cache-main
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/ui/node_modules
/ui/build-test
/app/assets/javascripts/lib
/project/coverall
tags
.tags
