@import _root_.articles.Article

@(articleId: Option[Int])



@base("Article Editor") {

    <style>
            html, body, #editor, #container {
                margin: 0;
                height: 100%;
                font-family: 'Helvetica Neue', Arial, sans-serif;
                color: #333;
            }

            textarea, #editor div {
                display: inline-block;
                width: 49%;
                height: 100%;
                vertical-align: top;
                box-sizing: border-box;
                padding: 0 20px;
            }

            textarea {
                border: none;
                border-right: 1px solid #ccc;
                resize: none;
                outline: none;
                background-color: #f6f6f6;
                font-size: 14px;
                font-family: 'Monaco', courier, monospace;
                padding: 20px;
            }

            footer {
                position: absolute;
                bottom: 0;
                height: 32px;
                width: 100%;
                background-color: white;
            }

            code {
                color: #f66;
            }
    </style>

    <script type="application/javascript">
        window.QB = {
          articleId: @articleId.map(id => id.toString).getOrElse("undefined")
        }
    </script>

    <script src="https://unpkg.com/marked@@0.3.6"></script>
    <script src="https://unpkg.com/lodash@@4.16.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@@1.5.1"></script>

    <div id="container">
        <div id="menu-bar">
            <button v-on:click="save()">Save</button>
        </div>
        <div>
            <input id="title" :value="title" type="text" name="title"/>
        </div>
        <div id="editor">
            <textarea :value="input" @@input="update"></textarea>
            <div v-html="compiledMarkdown"></div>
        </div>
        <footer class="footer">
            <span>{{feedback}} </span>
        </footer>
    </div>
    <script>
            new Vue({
                el: '#container',
                data: {
                    title: '',
                    input: '# hello',
                    feedback: ''
                },
                computed: {
                    compiledMarkdown: function () {
                        return marked(this.input, { sanitize: true })
                    }
                },
                methods: {
                    update: _.debounce(function (e) {
                        this.input = e.target.value
                    }, 300),
                    save: function() {
                        const title = this.title;
                        const body = this.input;
                        this.feedback = 'Saving post...';
                        this.$http.post('/api/articles',
                                {
                                    title: title,
                                    body: body
                                })
                                .then(function() {
                                    this.feedback = 'saved!';
                                }).catch(function() {
                                    this.feedback = 'failed to save!';
                        });

                    }
                }
            })
    </script>
}