
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.content-wrapper {
    width: 800px;
    margin: auto;
    height: 100%;
}
.article-list {
    margin-top: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: grey;
    list-style-type: none;
}

.article-item:first-child {
    margin-top: 0px;
}

.article-item {
    background-color: turquoise;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
}

header {
    width: 100%;
    min-height: 30px;
    background-color: black;
    color: lightgray;
}

.header-content {
    margin: auto;
    padding: 20px;
}

header .title {
}

header .user {
  float: right;
    margin-right: 20px;
}

.login {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-inner {
    display: block;
}

fieldset {
    border: none;
}

fieldset .field {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%
    display: block;
}


.field input {
    width: 100%;
    box-sizing: border-box;
}
