@main("Login") {
    <div class="login">
        <div class="login-inner">
            <form>
                <fieldset>
                    <div class="field">
                        <input type="text" placeholder="email" name="email"/>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="password" name="password"/>
                    </div>
                    <button>login</button>
                </fieldset>
            </form>
        </div>
    </div>
}